@import 'src/styles/theme';

.badge-container {
  position: relative;
}

.badge {
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  font-size: .75rem;
  text-align: center;
  border-radius: 50%;
  background-color: mat-color($goals-accent);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;

  &.inline {
    top: -25%;
    left: -50%;
  }
}
