<div fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field *ngIf="dates && dates.length > 0">
    <mat-select placeholder="Date Range" [(value)]="selectedDate" (selectionChange)="dateRangeChanged($event)">
      <mat-option *ngFor="let date of dates" [value]="date">{{date}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex="auto"></span>
  <mat-form-field>
    <mat-select placeholder="View As" [(value)]="view" (selectionChange)="viewChanged($event)">
      <mat-option *ngFor="let selectedUser of users" [value]="selectedUser._id">{{selectedUser.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="dataSource.data && dataSource.data.length > 0">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Goal</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" class="bold">{{goal.title}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center">Amount</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center">{{goal.amount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="done">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center">Complete?</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon *ngIf="goal.total >= goal.amount" color="primary">check_circle</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="m">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'm'}">Monday</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'm'}">
        <mat-checkbox [disabled]="view !== selectedUser._id" [checked]="goal.m" (change)="checkboxChanged($event, i, 'm')"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="t">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 't'}">Tuesday</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 't'}">
        <mat-checkbox [disabled]="view !== selectedUser._id" [checked]="goal.t" (change)="checkboxChanged($event, i, 't')"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="w">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'w'}">Wednesday</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'w'}">
        <mat-checkbox [disabled]="view !== selectedUser._id" [checked]="goal.w" (change)="checkboxChanged($event, i, 'w')"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="th">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'th'}">Thursday</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'th'}">
        <mat-checkbox [disabled]="view !== selectedUser._id" [checked]="goal.th" (change)="checkboxChanged($event, i, 'th')"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="f">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'f'}">Friday</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'f'}">
        <mat-checkbox [disabled]="view !== selectedUser._id" [checked]="goal.f" (change)="checkboxChanged($event, i, 'f')"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="sa">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'sa'}">Saturday</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'sa'}">
        <mat-checkbox [disabled]="view !== selectedUser._id" [checked]="goal.sa" (change)="checkboxChanged($event, i, 'sa')"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="su">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'su'}">Sunday</mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'highlight': day === 'su'}">
        <mat-checkbox [disabled]="view !== selectedUser._id" [checked]="goal.su" (change)="checkboxChanged($event, i, 'su')"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="add">
      <mat-header-cell *matHeaderCellDef class="addButton" fxLayout="row" fxLayoutAlign="center center">
        <button mat-mini-fab (click)="addRow()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let goal; let i = index;" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button color="primary" (click)="addRow(goal, i)" matTooltip="Edit" matTooltipShowDelay="1000" matTooltipPosition="left">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeRow(i)" matTooltip="Delete" matTooltipShowDelay="1000" matTooltipPosition="right">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="completionContainer" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="center space-between">
      <h2>Total Amount of Goals</h2>
      <div class="progressContainer">
        <mat-progress-spinner [color]="amountCompleteColor" [value]="amountComplete"></mat-progress-spinner>
        <mat-progress-spinner class="spinnerBackground" value="100"></mat-progress-spinner>
        <span class="ratio">{{complete}} / {{total}}</span>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center space-between">
      <h2>Total Goals</h2>
      <div class="progressContainer">
        <mat-progress-spinner [color]="goalsCompleteColor" [value]="goalsComplete"></mat-progress-spinner>
        <mat-progress-spinner class="spinnerBackground" value="100"></mat-progress-spinner>
        <span class="ratio">{{currentGoalsComplete}} / {{goalsToComplete}}</span>
      </div>
    </div>
  </div>
</div>
<div class="no-goals" *ngIf="!(dataSource.data && dataSource.data.length > 0)" fxLayout="column" fxLayoutAlign="space-between center">
  <mat-icon>assignment</mat-icon>
  <span>No goals found.
    <span *ngIf="view === selectedUser._id">&nbsp;Add a new one now!</span>
  </span>
  <button mat-raised-button color="accent" (click)="addRow()" *ngIf="view === selectedUser._id">Add Goal</button>
</div>
