mat-cell, .addButton {
  overflow: visible;
}

mat-cell.bold {
  font-weight: 500;
}

.highlight {
  background-color: #cccccc20;

  &.mat-header-cell {
    min-height: 56px;
  }

  &.mat-cell {
    min-height: 48px;
  }
}

.completionContainer {
  margin-top: 40px;
}

::ng-deep .progressContainer {
  position: relative;

  .mat-progress-spinner {
    margin: 0 auto;
  }

  .spinnerBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    circle {
      stroke: #efefef;
    }
  }

  .ratio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.no-goals {
  margin-top: 1rem;
  font-size: 1rem;
  color: #aaa;
  mat-icon {
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
  }
  button {
    margin-top: 1rem;
  }
}
