@import 'src/styles/theme';

.content {
  padding: 1rem;
}

.mat-toolbar .brand{
  color: white;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: white;
  }
}

.mat-menu-item.active {
  color: mat-color($goals-primary);
  background-color: rgba(mat-color($goals-primary), .04);

  .mat-icon {
    color: mat-color($goals-primary);
  }
}
