<div class="nav-container">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span>
      <a class="brand" routerLink="/">Squad Goals</a>
    </span>
    <span fxFlex="100">&nbsp;</span>
    <button mat-icon-button *ngIf="!user" (click)="navigate('login')">
      <mat-icon>person</mat-icon>
    </button>
    <span *ngIf="user" fxLayout="row" fxLayoutAlign="stretch center">
      <span *ngIf="showUser">{{user.name}}</span>
      <div class="menu-container">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <span class="badge" *ngIf="badgeCount > 0">{{badgeCount}}</span>
      </div>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/goals" routerLinkActive="active">
          <mat-icon>assignment</mat-icon>
          <span>Goals</span>
        </a>
        <a mat-menu-item routerLink="/settings" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
          <span class="badge-container">
            <span class="badge inline" *ngIf="badgeCount > 0">{{badgeCount}}</span>Settings
          </span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
