@import 'src/styles/theme';

mat-cell,
.addButton {
  overflow: visible;
}

.friends-container .mat-card {
  .mat-card-header {
    border-bottom: 1px solid #efefef;
    margin: 0 -24px;
    padding: 0 24px;
  }

  .mat-card-content p {
    text-align: center;
    margin-top: 24px;
  }
}

.no-friends {
  margin-top: 1rem;
  font-size: 1rem;
  color: #aaa;

  mat-icon {
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
  }

  button {
    margin-top: 1rem;
  }
}

.mat-cell {
  &.pending {
    color: mat-color($goals-accent);
  }

  &.active {
    color: mat-color($goals-primary);
  }
}

.pending-container {
  margin-bottom: 1.25rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #efefef;
}
